html {
    background-color: #EDEEF2;
    font-family: 'Archivo Narrow', sans-serif;
}

#container {
    background-color: rgba(255, 255, 255, 0.76);
    margin: 40px 120px 5px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 0px;  
}

#container h1 {
    color: #004ACE;
}

.line {
    width: 90%;
    height: 10px;
    border-bottom: 1px solid #c5c5c57d;
}
.the_flip {
    margin-top: 10px;
    margin-bottom: -30px;
}
    
.the_flip h4 {
    text-align: center;
    font-weight:100;
    color: #8F8F90;
}


.container > * {
    margin-bottom: 50px;
    text-align: center;
}
#container-game {
    text-align: center;
    margin-top: 10px;
    width: 85%;
}

#container-game h2 {
    color: #8F8F90;
}

select {
    margin-right: 20px;
}

.hidden {
    display: none;
    visibility: none;
}

.playbutton {
    margin-bottom: 25px;
}

.game {
    display: flex;
    justify-content: space-around;
}

.teams p{
    letter-spacing:1px;
    font-weight: bold;
}

.scores p {
    color: #8F8F90;
}